

<app-my-nav></app-my-nav>
<!-- <div>
  <label>name:</label>
  <input type="text" formControlName="name" #name>
  <br/>
  <label>category:</label>
    <select #category>
      <option  selected disabled>Select category...</option>
      <option *ngFor="let item of myCat" value="{{item.id}}">{{item.cat_name}}</option>
    </select>
    <br/>
  <label>date:</label>
  <input type="date"  #date>
  <br/>
  <label>qty:</label>
  <input type="number"  #amount>
  <br/>
  <label>price:</label>
  <input type="number"  #price>
  <br/>
  <button (click)="onSubmit({name:name.value,category:+category.value, date:date.value,amount:+amount.value,price:+price.value})">add product</button>
</div> -->


<router-outlet></router-outlet>

<!-- <a class="btn btn-info" [routerLink]="['/add']">add product</a>&nbsp;
<table>
  <tr>
    <th>id:</th>
    <th>name</th>
    <th>category</th>
    <th>date</th>
    <th>qty</th>
    <th>price</th>
    <th>delete</th>
    <th>update</th>
  </tr>
  <tr *ngFor="let item of myProds" id="{{item.id}}">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.category}}</td>
    <td>{{item.date.toLocaleString().slice(0,10)}}</td>
    <td>{{item.amount}}</td>
    <td>{{item.price}}</td>
    <td><button (click)="delProd(item.id)">delete</button></td>

  </tr>
</table> -->

<!-- <li *ngFor="let item of myProds">
  <button (click)="delProd(item.id)">delete </button>
  <button (click)="updateProd(item.id, desc.value,+price.value)">update</button>
  {{item.desc}}
  {{item.price}}

</li> -->




