table {
	margin:50px auto;
}
input, label, button{
  margin:10px 10px 10px 10px;

}
div{
  margin-left: 40%;
}
Table,th,td{
    border:1px solid;
    border-collapse: collapse;
    padding: 10px;
}

tr:nth-child(even){
    background-color: beige;
}

tr:nth-child(odd){
    background-color: white;
}

thead tr:first-child{
    background-color: lightgray;
    font-weight: 900;
    font-size: 18px;
}
.btn{
  margin-left:45%;
}
